@import '../variables';

.cart{
    padding-top: 2em;
    color: $color;
    
    .box-cart{
        border-radius: 4px;
        background-color: $third-color;
    }

    .oder-control{
        background-color: $third-color;
        padding: 10px;
        border-radius: 3px;
        margin-bottom: 20px;

        .oder-title{
            font-size: 22px;
            font-weight: 500;
        }
        .oder-body{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            p{
                margin: 0;
            }
            .oder-final-price{
                color: $price-color;
                font-size: 25px;
            }
        }
        .message{
            font-size: 15px;
        }
        a{
            button{
                width: 100%;
                border: 0;
                text-decoration: none;
                color: $color;
                background-color: $el-primary-color;
                font-weight: 600;
                padding: 10px;
                border-radius: 3px;
            }
                
        }
    }
}

.arrow-up {
    position: absolute;
    width: 0; 
    height: 0; 
    top: -5px;
    right: 15px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
    z-index: 11;
}