@import '../../variables.scss';

.box-quantity{
    margin-bottom: 25px;
    button{
        border: 0;
        background-color: rgba($color: $el-primary-color, $alpha: .3);
        width: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

        &:active{
            transform: scale(1.02);
        }
        border: 1px solid rgba($color: #000000, $alpha: .5);
    }

    input{
        padding: 10px;
        border: 0;
        text-align: center;
        width: 80px;
        border-top: 1px solid rgba($color: #000000, $alpha: .5);
        border-bottom: 1px solid rgba($color: #000000, $alpha: .5);
        
        &:focus{
            outline: none;
            background-color: rgba($color: $el-primary-color, $alpha: .1);
        }
    }
}